{% extends "base.html" %}

{% block contenido %}
<style>
    .mujer {
        display: flex;
        justify-content: center;
        /* Centra horizontalmente */
        align-items: center;
        /* Centra verticalmente (si quieres) */
        text-align: center;
        width: 100%;
        height: auto;
        padding: 10px;
        max-width: 2000px;
    }

    .imagen {
        position: relative;
        top: -148px;
        width: 90%;
        max-width: 100%;
        /* Que no se pase del ancho del contenedor */
        height: auto;
        /* Mantiene la proporción */
        display: block;
        margin: 0 auto;
        /* Centra en navegadores antiguos */
        border-radius: 10px;
        /* Opcional: esquinas redondeadas */
    }

    .texto-encima {
        position: absolute;
        top: 57%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: white;
        font-size: 35px;
        padding: 10px 20px;
        border-radius: 8px;
        margin: 10px;
        width: 1450px;
    }

    .texto-subtitulo {
        position: absolute;
        top: 40%;
        left: 36%;
        color: #ffffff;
        font-size: 43px;
        padding: 20px 10px;
        margin: 0;
    }

    .texto-abajo {
        position: absolute;
        top: 80%;
        left: 32%;
        color: #000000;
        font-size: 39px;
        padding: 20px 10px;
        margin: 0;

    }

    .texto-creado {
        position: absolute;
        top: 94%;
        left: 42%;
        color: #000000;
        font-size: 25px;
        padding: 20px 10px;
        margin: 0;
    }
</style>
<div class="mujer">
    <img src="{{ url_for('static', filename='images/mujer secandose.jpg') }}" alt="Logo" class="imagen">
    <div class="texto-subtitulo">
        ¡Bienvenido a Salon Smart!
    </div>

    <div class="texto-encima">
        Salón Smart es una plataforma diseñada para optimizar la gestión de salones
        de belleza, desde el registro de clientes hasta el control de inventario, facturación y generación
        de reportes.
    </div>
    <div class="texto-abajo">
        “Tu salón, más inteligente que nunca”
    </div>
    <div class="texto-creado">
        Creado por Melnay Smart
    </div>


</div>

<div style="margin-top: -30%; margin-left: 1300px;">
    <img src="{{ url_for('static', filename='images/melnay.jpg') }}" alt="Logo" style="width: 300px;">
</div>


{% endblock %}